*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background: rgb(207, 205, 205);
}
.b1
{
    width: 100%;
    height: 100vh;
    background: url("../img/business-resilience-live-enterprise-lead.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.navbar
{
    width: 100%;
    height: auto;
    display: flex;
}

.logo
{
    width: 50%;
    height: auto;
}

.logo h3
{
    font-size: 30px;
    font-family: 'Gruppo', cursive;
    padding-top: 3vh;
    padding-left: 5%;
    color: white;
}
.navs{
    width:50%;
    padding-top: 3vh;
    text-align: right;
    padding-right: 5%;
}
.navs button
{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: white;
    border: none;
    outline: none;
}
.top
{
    width: 100%;
    height: auto;
}
.search{
    width: 100%;
}
.search h3{
    width: 40%;
    padding-top: 30vh;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
    padding-left: 5%;
}
.search .line{
    width: 30%;
    height: 2px;
    background:goldenrod;
    margin-left: 5%;
    margin-top: 2vh;
}
.search button{
    width: 20%;
    height: 35px;
    outline: none;
    margin-bottom: 15vh;
    margin-top: 3vh;
    margin-left: 5%;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 17px;
    border:2px solid white;
    background: transparent;
    color: white;
}
.search button:hover{
    border:2px solid white;
    background: white;
    color: black;
}
.box
{
    width: 80%;
    height: 20vh;
    background: white;
    margin-left: 10%;
    display: flex;
    border-radius: 10px;
}
.bnav1
{
    width: 25%;
    padding-left: 3%;
    padding-right: 3%;    
    border-right: 3px solid goldenrod;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.bnav1 p
{
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2vh;
}
.top .line
{
    width: 50%;
    height: 2px;
    background: goldenrod;
}
.box span
{
    font-size: 35px;
    padding-top: 2vh;
}
.box span:hover{
    color: goldenrod;
}
.box a
{
    text-decoration: none;
    color: black;
}
.bnav2
{
    width: 25%;
    padding-left: 3%;
    padding-right: 3%;
    border-right: 3px solid goldenrod;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.bnav2 p
{
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2vh;
}
.bnav3
{
    width: 25%;
    padding-left: 3%;
    padding-right: 3%;
    border-right: 3px solid goldenrod;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.bnav3 p
{
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2vh;
}
.bnav4
{
    width: 25%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.bnav4 p
{
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 2vh;
}
.infocheck{
    width: 100%;
    height: 100vh;
    background: #2f2f2f;
    background-attachment: fixed;
}
.ifheader{
    width: 100%;
    height: auto;
    padding-top: 8vh;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    padding-bottom: 5vh;
    color: white;
}
.account{
    width: 100%;
    height: 15vh;
    background: white;
    display: flex;
}
.account1{
    width: 50%;
    text-align: center;
}
.account2{
    width: 50%;
    text-align: center;
}
.account1 input[type="submit"]{
    width: 30%;
    height: 35px;
    background: black;
    color: white;
    outline: none;
    border: 2px solid black;
    margin-top:5vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}
.account2 input[type="submit"]{
    width: 30%;
    height: 35px;
    background: black;
    color: white;
    outline: none;
    border: 2px solid black;
    margin-top:5vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
}
.account1 input[type="submit"]:hover{
    background: transparent;
    color: black;
}
.account2 input[type="submit"]:hover{
    background: transparent;
    color: black;
}
.ibox{
    width: 100%;
    height: auto;
    display: flex;
}
.ibox1{
    width: 20%;
    height: 35vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    box-shadow: 2px 2px 2px 2px #33333325;
}
.ibox1 .view{
    width: 100%;
    text-align: center;
}
.ibox1 .view span{
    font-size: 51px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: white;
}
.ibox1 p{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3vh;
    color: white;
}
.ibox1 input[type="submit"]{
    width: 60%;
    height: 30px;
    border: 2px solid red;
    background: transparent;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: red;
    margin-left: 20%;
    cursor: pointer;
}

.ibox1 input[type="submit"]:hover{
    background: red;
    color: white;
}


.ibox2{
    width: 20%;
    height: 35vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    box-shadow: 2px 2px 2px 2px #33333325;
}
.ibox2 .view{
    width: 100%;
    text-align: center;
}
.ibox2 .view span{
    font-size: 51px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: white;
}
.ibox2 p{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3vh;
    color: white;
}
.ibox2 input[type="submit"]{
    width: 60%;
    height: 30px;
    border: 2px solid goldenrod;
    background: transparent;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: goldenrod;
    margin-left: 20%;
    cursor: pointer;
}
.ibox2 input[type="submit"]:hover{
    background: goldenrod;
    color: white;
}
.ibox3{
    width: 20%;
    height: 35vh;
    margin-left: 10%;
    margin-bottom: 5vh;
    box-shadow: 2px 2px 2px 2px #33333325;
}
.ibox3 .view{
    width: 100%;
    text-align: center;
}
.ibox3 .view span{
    font-size: 51px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    color: white;
}
.ibox3 p{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3vh;
    color: white;
}
.ibox3 input[type="submit"]{
    width: 60%;
    height: 30px;
    border: 2px solid green;
    background: transparent;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: green;
    margin-left: 20%;
    cursor: pointer;
}
.ibox3 input[type="submit"]:hover{
    background: green;
    color: white;
}
.news1{
    width: 100%;
    height: auto;
    background: white;
}
.news1 .head{
    width: 100%;
    height: 2vh;
}
.news1 img{
    width: 100%;
    height: auto;
    
}